
#page-container {
    position: relative;
    min-height: 100vh;
    background: whitesmoke;
  }

body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
  }
   
.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
  }
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
  }
   
.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
  }
   
.nav a:hover {
    background-color: #005f5f;
  }
   
   
@media screen and (min-width: 600px) {
.nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
   
.nav li {
      display: inline-block;
      margin-right: -4px;
    }
   
  }

#content-wrap {
    padding-bottom: 2.5rem;
    background: whitesmoke;
  }
.section {
    margin: 0;
    padding: 0;
    background: whitesmoke;
}
  
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
} 

footer {
  background-color: black;
  padding: 1.2rem;
  margin: 0;

}

.footer a{
  display: inline-block;
  list-style: none;
  padding-left: 20px;
  color: #ccc;
}
  
  